@model BackendCapstone.Models.ClientPage
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{var user = await UserManager.GetUserAsync(User);}

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

@if (user.UserTypeId == 1 || user.UserTypeId == 2)
{
    <p>
        <a asp-controller="StoryBoards" asp-action="Create" asp-route-id=@Model.Id>Create New Story</a>
    </p>
}

<div style="display: flex; flex-direction: row; justify-content: flex-start;">
    <div style="display: flex; flex-direction: row; justify-self: flex-end; flex-wrap:wrap;">
        @foreach (var item in Model.StoryBoards)
         {
            <div style="margin: 30px 22px; width:320px; border:1px solid #E6E6E6; background-color:#FAFAFA; border-radius:5px;">
                <div style="margin:10px; display:flex; align-items:center; flex-direction:row; height:50px; padding: 16px;">
                    <img style="margin: 10px; border:double 3px #FF4251; width:35px; height: 35px; border-radius: 50%;" src="~/images/@Model.ImgPath" asp-append-version="true" />
                    <p><strong>@Model.Name</strong></p>
                </div>
                <div>
                    <img style="width:317px; height:280px;" asp-append-version="true" src="~/images/@item.ImgPath" />
                </div>
                <div style="height: auto;">
                    <p>
                        <strong>@Model.Name</strong>&nbsp;@item.Text
                    </p>
                    <br/>
                    <p><em>@item.PostDateTime</em></p>
                </div>
                <div style="display: flex; align-content:center; justify-content: center;">
                    <a asp-route-id=@item.Id asp-controller="StoryBoards" asp-action="Edit">Edit</a>&nbsp;|&nbsp;
                    <a asp-route-id=@item.Id asp-controller="StoryBoards" asp-action="Delete">Delete</a>
                </div>
            </div>
         }
    </div>
</div>
@if (user.UserTypeId == 1 || user.UserTypeId == 2)
{
    <div>
        <a asp-action="Index">Back to Client Pages</a>
    </div>
}

