
@model IEnumerable<BackendCapstone.Models.ClientPage>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{var user = await UserManager.GetUserAsync(User);}

@{
    ViewData["Title"] = "Index";
}

<h1>Client Pages</h1>
@if (user.UserTypeId == 1)
{ 
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<div class=clientPagesContainer>
    @foreach (var item in Model)
    {

     <div class="clientPageCard">
        <a class="clientPageCardLink" asp-controller="ClientPages" asp-action="Details" asp-route-id="@item.Id">
            <div>
                <img class="clientPageCardImg" asp-append-version="true" src="~/images/@item.ImgPath" />
            </div>
            <div class="clientPageCardName">
                <h5>
                    @Html.DisplayFor(modelItem => item.Name)
                </h5>
            </div>
        </a>
        @if (user.UserTypeId == 1)
        {
            <div class="editDeleteContainer">
                <a asp-route-id=@item.Id asp-controller="ClientPages" asp-action="Edit">Edit</a>&nbsp;|&nbsp;
                <a asp-route-id=@item.Id asp-controller="ClientPages" asp-action="Delete">Delete</a>
            </div>
        }
    </div>

    }
</div>
