@model BackendCapstone.Models.StoryBoardViewModels.StoryBoardCreateEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Story</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StoryBoard.Text" class="control-label"></label>
                <input asp-for="StoryBoard.Text" class="form-control" />
                <span asp-validation-for="StoryBoard.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoryBoard.PostDateTime" class="control-label"></label>
                <input asp-for="StoryBoard.PostDateTime" class="form-control" />
                <span asp-validation-for="StoryBoard.PostDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img"></label>
                <input asp-for="Img" type="file">
                <span asp-validation-for="Img"></span>
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => m.StoryBoard.ClientPageId)
            </div>
            <div class="form-group">
                <input type="submit" asp-page-handler="Upload" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="ClientPages" asp-action="Details" asp-route-id=@Model.StoryBoard.ClientPageId>Back to Client Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
